#search {
  margin: 2rem;
}

#results {
  list-style-type: none;
  padding: 1rem 2rem 1rem 2rem;
}

ul {
  padding: 0;
}

#results ul {
  display: flex;
  list-style-type: none;
}

#results ul li {
  padding: 0 2rem 0 2rem;
}

label {
  display:block;
  margin-top: 1rem;
}

input[type="submit"] {
  margin-top: 1rem;
}

h2 {
  margin-bottom: 0.5rem;
}
